/**
 * Copyright © VNG Realisatie 2023
 * Licensed under the EUPL
 */

@use "../theme";

.modal {
    color: theme.$colorText;
    padding: 0;
    border: 0 none;
    width: 100%;
    max-width: 480px;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.6);
    }

    &__content {
        width: 100%;
        background-color: theme.$colorBackgroundAlt;
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        padding: theme.$spacing05 theme.$spacing05 theme.$spacing07 theme.$spacing07;
        justify-content: space-between;
        width: 100%;

        &__title {
            padding: theme.$spacing03 0;
            margin: 0 theme.$spacing05 0 0;
        }

        &__close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: theme.$spacing03;
            min-width: 2.25rem;
            min-height: 2.25rem;
            border: none;
            margin-left: auto;
            vertical-align: middle;
            font-size: theme.$fontSizeMedium;
            font-weight: theme.$fontWeightSemiBold;
            line-height: theme.$lineHeightText;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
            color: theme.$colorPaletteGray400;
        }

        &__close-icon {
            width: 32px;
            height: 32px;
        }
    }

    &__body {
        padding: 0 theme.$spacing07 theme.$spacing07;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: theme.$spacing07;

        & > button {
            margin-left: theme.$spacing05;
        }
    }
}
