<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

{{ define "drawer"}}

<div id="drawer" class="drawer">
    <header class="drawer__header" id="drawer-content">
        <h1 class="drawer__title">{{ .ServiceDetailDrawer.ServiceName }}</h1>

        <button class="drawer__close" type="button" role="button"
                hx-get="/"
                hx-trigger="click, keyup[key=='Escape'] from:body"
                hx-push-url="true"
                hx-select="#drawer"
                hx-target="#drawer"
                hx-swap="outerHTML swap:150ms settle:0"
        >
            {{ svg "icon-close" "" }}
        </button>
    </header>

    {{ if .ServiceDetailDrawer.IsDelegatedPublication }}
    <p class="service-detail__subtitle" slot="subtitle">
        {{ .ServiceDetailDrawer.Delegator.Name }}
    </p>

    <div class="service-detail__summary">
        <span>PeerID {{ .ServiceDetailDrawer.Delegator.ID }}</span>
    </div>
    {{ else }}
    <p class="service-detail__subtitle" slot="subtitle">
        {{ .ServiceDetailDrawer.Provider.Name }}
    </p>

    <div class="service-detail__summary">
        <span>PeerID {{ .ServiceDetailDrawer.Provider.ID }}</span>
    </div>
    {{ end }}

    <div class="drawer__content">
        {{ if .ServiceDetailDrawer.IsDelegatedPublication }}
        <div class="service-detail__section-group">
            <div class="service-detail__section-contact">
                <div class="heading">
                    {{ svg "icon-building-line" "" }}
                    Aangeboden door
                </div>
                <div class="body">
                    {{ .ServiceDetailDrawer.Provider.Name }}
                    <br>
                    <small>PeerID {{ .ServiceDetailDrawer.Provider.ID }}</small>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}
